/* --- Dispay Options --- */
.d {
  &-block {
    display: block !important;
  }

  &-inline-block {
    display: inline-block !important;
  }

  &-flex {
    display: flex !important;
  }

  &-inline-flex {
    display: inline-flex !important;
  }

  &-none {
    display: none !important;
  }
}

.justify {
  &-content {
    &-between {
      justify-content: space-between !important;
    }

    &-start {
      justify-content: flex-start !important;
    }

    &-center {
      justify-content: center !important;
    }

    &-end {
      justify-content: flex-end !important;
    }

    &-around {
      justify-content: space-around !important;
    }
  }

  &-self {
    &-start {
      justify-self: flex-start !important;
    }

    &-center {
      justify-self: center !important;
    }

    &-end {
      justify-self: flex-end !important;
    }
  }
}

.align {
  &-items {
    &-start {
      align-items: flex-start !important;
    }

    &-center {
      align-items: center !important;
    }

    &-end {
      align-items: flex-end !important;
    }
  }

  &-self {
    &-start {
      align-self: flex-start !important;
    }

    &-center {
      align-self: center !important;
    }

    &-end {
      align-self: flex-end !important;
    }
  }
}

/* --- Width --- */
.w-auto {
  width: auto !important;
}

.w-50 {
  width: 50% !important;
}

.w-80 {
  width: 80% !important;
}

.w-100 {
  width: 100% !important;
}

/* --- height --- */
.h-auto {
  height: auto !important;
}

.h-50 {
  height: 50% !important;
}

.h-80 {
  height: 80% !important;
}

.h-100 {
  height: 100% !important;
}

.h-100vh {
  height: 100vh !important;
}

/* --- Paddings All --- */
@for $i from 0 through 5 {
  .p-#{$i} {
    padding: #{$i}rem !important;
  }
}

/* --- Top --- */
@for $i from 0 through 5 {
  .pt-#{$i} {
    padding-top: #{$i}rem !important;
  }
}

/* --- Bottom */
@for $i from 0 through 5 {
  .pb-#{$i} {
    padding-bottom: #{$i}rem !important;
  }
}

/* --- Left */
@for $i from 0 through 5 {
  .pl-#{$i} {
    padding-left: #{$i}rem !important;
  }
}

/* --- Right */
@for $i from 0 through 5 {
  .pr-#{$i} {
    padding-right: #{$i}rem !important;
  }
}

/* --- Margin All ---*/
@for $i from 0 through 5 {
  .m-#{$i} {
    margin: #{$i}rem !important;
  }
}

.m-auto {
  margin: auto !important;
}

/* --- Top ---*/
@for $i from 0 through 5 {
  .mt-#{$i} {
    margin-top: #{$i}rem !important;
  }
}

.mt-auto {
  margin-top: auto !important;
}

/* --- Bottom --- */
@for $i from 0 through 5 {
  .mb-#{$i} {
    margin-bottom: #{$i}rem !important;
  }
}

.mb-auto {
  margin-bottom: auto !important;
}

/* --- Left ---*/
@for $i from 0 through 5 {
  .ml-#{$i} {
    margin-left: #{$i}rem !important;
  }
}

.ml-auto {
  margin-left: auto !important;
}

/* --- Right --- */
@for $i from 0 through 5 {
  .mr-#{$i} {
    margin-right: #{$i}rem !important;
  }
}

.mr-auto {
  margin-right: auto !important;
}

/* --- Fonts Styles --- */
.font {
  &-size {
    &-default {
      font-size: 1.4rem !important;
    }

    &-md {
      font-size: 1.6rem !important;
    }

    &-lg {
      font-size: 2rem !important;
    }

    &-xl {
      font-size: 2.8rem !important;
    }
  }

  &-weight {
    &-light {
      font-weight: 300 !important;
    }

    &-normal {
      font-weight: 400 !important;
    }

    &-medium {
      font-weight: 500 !important;
    }

    &-semi-bold {
      font-weight: 600 !important;
    }

    &-bold {
      font-weight: bold !important;
    }
  }
}

/* --- Text Style Helper Class --- */
.text {
  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }

  &-decoration-underline {
    text-decoration: underline;
  }

  &-ellipsis {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-transform {
    &-none {
      text-transform: none !important;
    }

    &-capitalize {
      text-transform: capitalize !important;
    }

    &-uppercase {
      text-transform: uppercase !important;
    }
  }
}

/* --- Border --- */
@for $i from 0 through 5 {
  .border-#{$i} {
    border: #{$i}px solid !important;
  }

  // top
  .border-top-#{$i} {
    border-top: #{$i}px solid !important;
  }

  // left
  .border-left-#{$i} {
    border-left: #{$i}px solid !important;
  }

  // bottom
  .border-bottom-#{$i} {
    border-bottom: #{$i}px solid !important;
  }

  //right
  .border-right-#{$i} {
    border-right: #{$i}px solid !important;
  }
}

.border-color {
  &-primary {
    border-color: #f19e39 !important;
  }

  &-secondary {
    border-color: #5bcadd !important;
  }

  &-danger {
    border-color: #b60f0f !important;
  }

  &-grey {
    border-color: #a0adbb !important;
  }

  &-transparent {
    border-color: transparent !important;
  }
}

.border-rad {
  &-0 {
    border-radius: 0 !important;
  }

  &-4 {
    border-radius: 4px !important;
  }

  &-10 {
    border-radius: 10px !important;
  }

  &-t {
    &-l {
      &-0 {
        border-top-left-radius: 0 !important;
      }

      &-4 {
        border-top-left-radius: 4px !important;
      }

      &-10 {
        border-top-left-radius: 10px !important;
      }
    }
    &-r {
      &-0 {
        border-top-right-radius: 0 !important;
      }

      &-4 {
        border-top-right-radius: 4px !important;
      }

      &-10 {
        border-top-right-radius: 10px !important;
      }
    }
  }
  &-b {
    &-l {
      &-0 {
        border-bottom-left-radius: 0 !important;
      }

      &-4 {
        border-bottom-left-radius: 4px !important;
      }

      &-10 {
        border-bottom-left-radius: 10px !important;
      }
    }
    &-r {
      &-0 {
        border-bottom-right-radius: 0 !important;
      }

      &-4 {
        border-bottom-right-radius: 4px !important;
      }

      &-10 {
        border-bottom-right-radius: 10px !important;
      }
    }
  }
}

/* --- Images --- */
.img {
  &-fluid {
    max-width: 100%;
    height: auto;

    &-cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-contain {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

/* --- Text Color --- */
.text-color {
  &-primary {
    color: #f19e39 !important;
  }

  &-secondary {
    color: #5bcadd !important;
  }

  &-danger {
    color: #b60f0f !important;
  }

  &-warning {
    color: #ffa85d !important;
  }

  &-info {
    color: #5bcadd !important;
  }

  &-success {
    color: #18c35a !important;
  }

  &-default {
    color: #555454 !important;
  }

  &-gold {
    color: #ffa85d !important;
  }

  &-white {
    color: #ffffff !important;
  }

  &-black {
    color: #000000 !important;
  }

  &-grey {
    color: #a0adbb !important;

    &-light {
      color: #c5c5c5 !important;
    }
  }
}
